<template>
    <q-carousel
        v-model="listIndex"
        swipeable
        animated
        :padding="true"
        navigation
        navigation-position="bottom"
        class="rounded-borders row"
        control-color="black"
        style="height: auto"
    >
      <q-carousel-slide
          :name="index"
          class="row wrap flex-center justify-between q-pa-md q-gutter-md"
          v-for="(item, index) in items"
          :key="index"
      >
       <q-card
            class="bg-primary col row"
            v-for="(listItem, idx) in item"
            :key="idx"
        >
          <q-img src="https://cdn.quasar.dev/img/chicken-salad.jpg" />

          <q-card-section>
            <q-btn
                fab
                color="primary"
                icon="bolt"
                class="absolute"
                style="top: 0; right: 12px; transform: translateY(-50%);"
            />

            <div class="row no-wrap items-center">
              <div v-if="item[idx]" class="col text-h6 ellipsis">
                {{ listItem ? listItem.id : '' }}
              </div>
            </div>

            <q-rating v-if="listItem" :value="listItem.stars" :max="5" size="32px" />
          </q-card-section>

          <q-card-section class="q-pt-none">
<!--            <div class="text-subtitle1">
              $・Italian, Cafe
            </div>-->
            <div class="text-caption text-grey">
              {{ listItem ? listItem.desc : '-' }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-actions>
            <q-btn flat round icon="event" />
            <q-btn flat color="primary">
              Reserve
            </q-btn>
          </q-card-actions>
        </q-card>
      </q-carousel-slide>
<!--      <q-carousel-slide name="map" class="column no-wrap flex-center">
        <q-icon name="terrain" size="56px" />
        <div class="q-mt-md text-center">
          {{ lorem }}
        </div>
      </q-carousel-slide>-->
    </q-carousel>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Item } from '../models'

@Component
export default class CardList extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly list!: Item[];
  private items: Item[][] = []
  private listIndex = 0

  protected mounted() {
    if (this.list.length > 0) {
      const limit = 3
      for(let i = 0; i < (this.list.length/limit); i++) {
        const carouselItems: Item[] = []
        for(let ci = 0; ci < limit; ci++) {
          const item = this.list[ci+(i*limit)]
          carouselItems.push(item)
        }
        this.items.push(carouselItems)
      }
    }
    console.log(this.items)
  }


}
</script>
