<template>
  <q-page class="row items-center justify-evenly">
      <q-toolbar class="bg-primary">
        <q-avatar style="width:auto">
<!--          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">-->
          <q-icon name="menu" class="q-mr-sm" />
          Guido
        </q-avatar>

        <div>
          <q-input
            dark
            borderless
            v-model="search"
            type="search"
            placeholder="Where are you looking for?"
            class="search-text bg-transparent"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
        <q-space ></q-space>
        <div
          inset
          class="q-px-md q-gutter-x-md">
          <span
            v-for="(menu, idx) in menus"
            :key="idx"
            class="text-white cursor-pointer"
            width="100px"
          >
            <q-icon v-if="menu.icon" :name="menu.icon" />
            <template v-if="menu.children && menu.children.length > 0">
                {{ menu.name }}
                <q-icon name="keyboard_arrow_down" />
                <q-menu
                  persistent
                  auto-close
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-list style="min-width: 100px">
                    <q-item
                      v-for="(child, index) in menu.children"
                      :key="index"
                      clickable>
                      <q-item-section>{{ child.name }}</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
            </template>
            <template v-else>
              {{ menu.name }}
            </template>
          </span>
          <q-btn
            label="+ Add Listing"
            color="white"
            text-color="black"
            push
          />
        </div>
      </q-toolbar>

    <q-page-container style="width:100%">
      <div class="fit container">
        <!--  Top    -->
        <div
          class="bg-accent container-head column justify-between"

        >
          <div class="text-white q-pb-xl q-my-lg column" style="text-align: center">
            <h4 class="q-pt-lg">Explore Amazing Destinations</h4>
            <div class="q-mb-lg">Find great place to stay, eat, shop, or visit from local experts.</div>

            <div class="search-wrap row bg-white q-gutter-x-md justify-center q-pr-none">
              <q-input
                  borderless
                  dense
                  v-model="searchVo.what"
                  placeholder="Ex: shopping, restaurant..."
                  style="min-width: 350px"
              >
                <template v-slot:before>
                  <b>What</b>
                </template>
              </q-input>

              <q-input
                  borderless
                  dense
                  v-model="searchVo.where"
                  placeholder="Your City"
              >
                <template v-slot:before>
                  <b>Where</b>
                </template>
              </q-input>
              <q-btn round color="primary" icon="search" />
            </div>
          </div>

          <!--  Category button    -->
          <div class="container-middle row"
               style="text-align: center;"
          >
            <div class="text-align-center text-white col-sm-10 col-md-8 col-gutter-lg q-pa-md" style="margin: 0 auto;font-weight:bold;font-size:1em">
              What are you interested in?
            </div>
            <q-list class="row bg-white col-sm-8 col-md-12 col-lg-9 justify-between q-pa-sm wrap" style="max-width: 1000px;margin: 0 auto; border-radius: 1em;">
              <div
                  v-for="(menu, idx) in categoryMenus"
                  :key="idx"
                  class="text-white cursor-pointer  q-item q-item-type no-wrap"
                  style="width: 150px;"
              >
                <q-card class="bg-grey-5 items-center q-px-sm bordered col q-py-md">
                  <q-icon :name="menu.icon" class="text-blue " size="3em" />
                  <div class="q-mt-sm" style="font-size: 0.8em">{{menu.title}}</div>
                </q-card>
              </div>
            </q-list>

          </div>
        </div>
        <!--  Bottom    -->
        <div class="bg-white container-head column  q-mx-auto"
             style="max-width: 1000px;width: 90%;text-align: center"
        >
          <h5>The Most Popualr Things to Do in the City</h5>
          <p>Discover some of the popualr listings in Toronto based on user reviews and ratings.</p>
          <card-list
              class="q-my-lg"
              :list="list"
          />
          <hr class="q-my-xl text-grey-5" style="max-width:1000px;width:90%;"/>

          <h5 class="q-my-lg">Trending Cities</h5>
          <p>Clea Tou Must Explore This Summer.</p>

          <div class="row justify-between q-col-gutter-sm ">
            <q-card
                v-for="(item, idx) in trendCities"
                :key="idx"
                :class="`col-6 ${(idx === 0 || idx === (trendCities.length-1)) ? 'col-md-8' : 'col-md-4'}`">
              <q-img v-if="item" :src="item.image" style="height: 300px">
                <div class="text-h6 absolute-bottom text-center bg-transparent">
                  {{ item.name }}<br/>
                  <sub>{{ item.listing }} Listings</sub>
                </div>
              </q-img>
            </q-card>

          </div>

        </div>
      </div>
    </q-page-container>
  </q-page>
</template>

<script lang="ts">
import { Item } from 'components/models'
import ExampleComponent from 'components/ClassComponent.vue'
import { Vue, Component } from 'vue-property-decorator'
import CardList from 'components/homepage/CardList.vue'

@Component({
  components: { ExampleComponent , CardList}
})
export default class PageIndex extends Vue {
  private search = ''
  private searchVo: {what: string, where: string} = {what: '', where: ''}
  private menus: any[] = [
    {
      name: 'Home',
      link: '#Home'
    },
    {
      name: 'Explore',
      link: '#Explore',
      children: []
    },
    {
      name: 'Listings ',
      link: '#listings ',
      children: [
        {
          name: 'Listings1 ',
          link: '#listings ',
        },
        {
          name: 'Listings2 ',
          link: '#listings ',
        }
      ]
    },
    {
      name: 'Pages',
      link: '#pages',
      children: []
    },
    {
      name: 'Blog',
      link: '#blog'
    },
    {
      icon: 'person',
      name: 'Login/Sign Up',
      link: '/Login'
    }
  ]
  private categoryMenus: any[] = [
    {
      icon: 'local_dining',
      link: '',
      title: 'Restaurant'
    },
    {
      icon: 'shopping_bag',
      link: '',
      title: 'Shopping'
    },
    {
      icon: 'terrain',
      link: '',
      title: 'Outdoor Activities'
    },
    {
      icon: 'room_service',
      link: '',
      title: 'Hotels'
    },
    {
      icon: 'spa',
      link: '',
      title: 'Beauty & Spa'
    },
    {
      icon: 'directions_car',
      link: '',
      title: 'Automotive'
    },
  ]
  private list: Item[] = []
  private trendCities: any[] =[]

  protected created(): void {
    // this.menus[0].

    for(let i = 0;i<5;i++) {
      const item: Item = {
        id: i,
        title: `제목:::${i}`,
        desc:  `설명:::설명:::설명:::설명:::설명:::설명:::${i}`,
        image: 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fgoodtip.co.kr%2F471&psig=AOvVaw04nd-tYNopIVEvKm8uuKVI&ust=1611368068842000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOiczfy7ru4CFQAAAAAdAAAAABAD',
        category: 'activities',
        isActive: true,
        tel: '+618818123',
        location: 'New York',
        address1: '',
        address2: '',
        keywords: ['###', '가나다'],
        stars: 4.5
      }
      this.list.push(item)
    }

    this.trendCities = [
      {
        id: 1,
        name: 'Miami',
        listing: 62,
        image: 'https://cdn.quasar.dev/img/parallax2.jpg'
      },
      {
        id: 2,
        name: 'Los Angeles',
        listing: 42,
        image: 'https://cdn.quasar.dev/img/mountains.jpg'
      },
      {
        id: 3,
        name: 'Florida',
        listing: 86,
        image: 'https://cdn.quasar.dev/img/parallax2.jpg'
      },
      {
        id: 4,
        name: 'New Yourk',
        listing: 21,
        image: 'https://cdn.quasar.dev/img/mountains.jpg'
      }
    ]
  }
}
</script>
<style lang="scss">
  .search-text {
    margin: auto 20px;
    width: 200px;
    color: white;
    input::placeholder {
      color: white;
      font-size: 12px;
    }
  }
  .menu {
    .label {
      color: white;
    }
  }

.container{
  .search-wrap{
    width: auto;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50px;
    b{
      font-weight: bold;
      font-size: 18px;
      padding: 0px 10px;
    }
  }
  .container-middle{
    background: linear-gradient(to bottom, transparent 50%, white 50%);
  }
}
</style>
